<div class="footer">
    <nav class="navbar navbar-bottom navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <%= link_to "Home", root_path, class: '' %>
            <strong class="navbar-text">© 2019</strong>
        </div>
    </nav>
</div>