<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to "Home", root_path, title: ENV['APP_DESCRIPTION'], class: 'navbar-brand' %>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class='nav-item'></li>
            </ul>
            <ul class="navbar-nav ml-auto">

            </ul>
        </div>
    </div>
</nav>