<% content_for :title do "Internal Server Error" end %>
<div class="row">
  <div class="col-xs-10 col-sm-6 offset-xs-1 offset-sm-3">
    <div class="card mt-5">
      <div class="card-body">
        <i class="fa fas fa-3x fa-warning float-right"></i>
        <h4 class="card-title">Internal Server Error</h4>
        <h6 class="card-subtitle mt-2 mb-2 text-muted">Hmm, something doesn't seem right with that request.</h6>
        <p class="card-text">Were you trying to do something bad?</p>
      </div>
    </div>
  </div>
</div>