<% content_for :title do "Not Authorized" end %>
<div class="row">
  <div class="col-xs-10 col-sm-6 offset-xs-1 offset-sm-3">
    <div class="card mt-5">
      <div class="card-body">
        <i class="fa fas fa-3x fa-ban float-right"></i>
        <h4 class="card-title">Not Authorized</h4>
        <h6 class="card-subtitle mt-2 mb-2 text-muted">Unfortunately you don't have the required permission.</h6>
        <p class="card-text">Maybe you tried to change something you didn't have access to?</p>
      </div>
    </div>
  </div>
</div>