<% content_for :title do "Route Not Found" end %>
<div class="row">
  <div class="col-xs-10 col-sm-6 offset-xs-1 offset-sm-3">
    <div class="card mt-5">
      <div class="card-body">
        <i class="fa fas fa-3x fa-question float-right"></i>
        <h4 class="card-title">Route Not Found</h4>
        <h6 class="card-subtitle mt-2 mb-2 text-muted">The page you were looking for doesn't exist.</h6>
        <p class="card-text">You may have mistyped the address or the page may have moved.</p>
      </div>
    </div>
  </div>
</div>