<% content_for :title do "Unknown Error" end %>
<div class="row">
  <div class="col-xs-10 col-sm-6 offset-xs-1 offset-sm-3">
    <div class="card mt-5">
      <div class="card-body">
        <i class="fa fas fa-3x fa-bug float-right"></i>
        <h4 class="card-title">Unknown Error</h4>
        <h6 class="card-subtitle mt-2 mb-2 text-muted">We're sorry, but something went wrong.</h6>
        <p class="card-text">We'll investigate and fix the problem as soon as possible.</p>
      </div>
    </div>
  </div>
</div>