<% content_for :title do "Unsupported Version" end %>
<div class="row">
  <div class="col-xs-10 col-sm-6 offset-xs-1 offset-sm-3">
    <div class="card mt-5">
      <div class="card-body">
        <i class="fa fas fa-3x fa-question float-right"></i>
        <h4 class="card-title">Unsupported Version</h4>
        <h6 class="card-subtitle mt-2 mb-2 text-muted">Doesn't look like that version exists.</h6>
        <p class="card-text">Maybe double check the URL and try again?</p>
      </div>
    </div>
  </div>
</div>