<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Steps", steps_path %></li>
  <li class="breadcrumb-item"><%= link_to @step.id, @step %></li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<%= render 'form', step: @step %>