<ol class="breadcrumb">
    <li class="breadcrumb-item active mr-auto">Steps</li>
    <%= render '/partials/breadcrumb/add', model: Step %>
    <%= render '/partials/breadcrumb/search' %>
</ol>
<div class="card-columns">
    <% @steps.each do |step| %>
    <div class="card card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><%= link_to step.name, step %></h5>
            <p class="card-text"><%= step.description %></p>
        </div>
    </div>
    <% end %>
</div>